body { font-family: Arial; margin:20px; }
h1 { color: darkblue; }
h2 a { text-decoration:none; color: darkgreen; }
div { margin-bottom:15px; }
input, textarea { width: 300px; margin-bottom:10px; }
button { padding:5px 10px; cursor:pointer; }
